openapi: "3.0.0"
info:
  version: 1.0.0
  title: Cogboard
  description: Cogboard

servers:
  - url: https://{domain}:{port}
    description: The local API server
    variables:
      domain:
        default: localhost
        description: api domain
      port:
        enum:
          - "8092"
        default: "8092"
  - url: ws://{domain}:{port}
    description: The Websocket server
    variables:
      domain:
        default: localhost
        description: websockets
      port:
        enum:
          - "$ws_port"
        default: "$ws_port"

paths:
  /api/config:
    get:
      operationId: boards-get-handler
      responses:
        default:
          description: Boards Get Handler
  /api/config/save:
    post:
      operationId: boards-save-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Boards Save Handler
  /api/login:
    post:
      operationId: login-handler
      responses:
        default:
          description: Generate JWT Token
  /api/endpoints:
    get:
      operationId: endpoints-get-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Endpoint list
    post:
      operationId: endpoints-update-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Endpoint Update Handler
  /api/endpoints/{id}:
    parameters:
      - name: id
        in: path
        description: endpoint to be fetched, updated or deleted
        required: true
        schema:
          type: string
    get:
      operationId: endpoint-by-id-get-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Endpoint with id
    delete:
      operationId: endpoints-delete-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Endpoint Delete Handler
  /api/credentials:
    get:
      operationId: credentials-get-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Credentials list
    post:
      operationId: credentials-update-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Credentials Update Handler
  /api/credentials/{id}:
    parameters:
      - name: id
        in: path
        description: credential to be fetched, updated or deleted
        required: true
        schema:
          type: string
    get:
      operationId: credential-by-id-get-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Credential with id
    delete:
      operationId: credentials-delete-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Credential Delete Handler
  /api/widget/update:
    post:
      operationId: widget-update-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Widget Update Handler
  /api/widget/delete:
    post:
      operationId: widget-delete-handler
      security:
        - cogboardAuth: []
      responses:
        default:
          description: Widget Delete Handler
  /api/widget/contentUpdate:
    post:
      operationId: widget-content-update-handler
      responses:
        default:
          description: Widget Content Refresh Handler
components:
  securitySchemes:
    cogboardAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
